.nojs {
  position: absolute;
  z-index: $zWrapper + 1;
  padding: $space;
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin pad($x, $y) {
  padding-left: $x * $space;
  padding-right: $x * $space;
  padding-top: $y * $space;
  padding-bottom: $y * $space;
}
