// sizing
$space: 10px;

// index
$zCanvas: 1;
$zWrapper: 100;
$zWindow: 200;
$zOverlay: 300;
$zLoading: 400;

// colours
$grey: #111;
$blue: #11a;
$backgroundOverlay: rgba(0, 0, 0, 0.95);
$colourOverlay: #eee;

// borders
$border: 1px solid $grey;

// animation
$transition: 0.5s;
