// sizing
$space: 12px;
$hudSize: 340px;
$hudBoxSize: 200px;

// index
$zCanvas: 1;
$zWrapper: 100;
$zWindow: 200;
$zOverlay: 300;
$zLoading: 400;

// colours
$grey: #aaa;
$blue: #11c;
$white: #fff;
$background: #eee;
$backgroundOverlay: rgba(0, 0, 0, 0.75);
$colourOverlay: #eee;

// borders
$border: 1px solid $grey;

// animation
$transition: 0.5s;
