// sizing
$space: 12px;
$hudSize: 360px;
$hudBoxSize: 200px;

// index
$zCanvas: 1;
$zWrapper: 100;
$zWindow: 200;
$zArtwork: 300;
$zOverlay: 400;
$zLoading: 500;

// colours
$grey: #aaa;
$blue: #11c;
$lightBlue: #bbf;
$white: #fff;
$background: #eee;
$backgroundOverlay: rgba(0, 0, 0, 0.85);
$colourOverlay: #eee;

// borders
$border: 1px solid $grey;

// animation
$transition: 0.5s;
