.chat {
  width: 100%;
  display: flex;

  .chat__inner {
    @include pad(0, 1);
    flex: 1;
    display: flex;
    flex-direction: column;

    .chat-list {
      border-top: $border;
      border-bottom: $border;
      padding-bottom: $space * 0.75;
      width: 100%;
      display: flex;
      flex: 1;

      .chat-list__inner {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .chat-list__item {
          @include pad(0, 0.25);
        }
      }
    }

    .chat-input {
      width: 100%;

      #chat-form {
        padding-top: $space;
        width: 100%;
        display: flex;

        .chat-input__input {
          @include pad(0.5, 0.5);
          flex: 1;
          border: $border;
          outline: none !important;
          background: none;
        }

        .chat-input__send {
          border: $border;
          outline: none !important;
          background: none;
          @include pad(1, 0.5);
          user-select: none;
          width: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          margin-left: $space;
        }
      }
    }
  }
}
