#colour-target {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: $background;
  position: relative;
  user-select: none;

  #colour-reroll {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: $space / 2;
    margin: $space / 2;
    margin-bottom: $space * 1.25;
    background: $background;
    cursor: pointer;
  }

  .colour {
    height: 90%;
    width: 20%;
    cursor: pointer;

    &:hover {
      height: 95%;
    }

    &.active {
      height: 100%;
    }
  }
}
