.hud {
  height: 100vh;
  width: $hudSize;
  //border-left: $space/2 solid blue;
  background: $white;
  pointer-events: all;

  .hud__inner {
    height: 100%;
    max-height: 100%;
    padding: $space;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .hud-box {
      width: 100%;

      .hud-box__inner {
        width: 100%;
        height: 180px;
      }
    }

    .hud-flex {
      flex: 1;
    }
  }
}
