.window {
  position: fixed;
  width: 320px;
  padding: $space * 2;
  z-index: $zWindow;
  background: $white;
  margin-right: $hudSize;

  &.form-window {
    .form-window__title {
      padding-bottom: $space;
    }

    form {
      width: 100%;
      display: flex;

      input[type='text'] {
        flex: 1;
      }

      input[type='submit'] {
        margin-left: $space;
        cursor: pointer;
        background: $background;

        &:hover {
          color: $lightBlue;
        }
      }
    }

    .form-window__options {
      padding: $space;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .option {
        height: $space * 2;
        width: $space * 2;
        border-radius: $space;
        cursor: pointer;

        &.active {
          border: 2px solid black;
        }
      }
    }

    .form-window__notice {
      @extend .error;
    }
  }
}
