.window {
  position: fixed;
  width: 320px;
  padding: $space * 2;
  z-index: $zWindow;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.form-window {
    .form-window__title {
      @include pad(0, 1);
    }

    form {
      width: 100%;
      display: flex;

      input[type='text'] {
        flex: 1;
      }

      input[type='submit'] {
        margin-left: $space;
        cursor: pointer;
      }
    }

    .form-window__notice {
      @extend .error;
    }
  }
}
